/* HOME Y HEADER Y FOOTER*/


.fa-ticket{
    color:#ffd564;
    margin: 0px 20px
}


.buttons-cards{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}


.btn-compra-card{
    background-color: #fe505a;
    color: white;
}


.btn-compra-card:hover {
    background-color:#fe5059b1;
    color: white;

}


.banner-top-image{
    width: 100%;
}

#navbarColor01{
    justify-content: space-evenly;
}


.tab-content{
    margin-top: 40px;
    margin-bottom: 40px;
}



.circular{
    border-radius: 50%;
    width: 39px;
    height: 39px;
}


.botones-navbar{
  display: flex;
  width: 290.2px;
}

.boton-navbar{
    margin: 0px 10px;
}

.contenedor-icono-usuario{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icono-usuario{
  /* color: #ffd564; */
  background-color: transparent;
  border-color: transparent;
}

.icono-config{
  /* color: #55a1db; */
  color: #0378b8;
  background-color: transparent;
  border-color: transparent;
}



/* CARTELERA */

.movie__images_cartelera{
    max-width: 232px;
}


.movie__time{
    color: red;
}

.movie__title{
    color: black;
    display: inline-block;
    margin-bottom: -6px;
    max-width: 330px;
    text-decoration: none;
    outline: none;
    font-size: 27px;
}

/* .movie--preview{
    margin-top: 40px;
    margin-bottom: 50px;
} */

.movie-container-cartelera{
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    background-color:#f5f5f5;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 10px;

}

.container-cartelera{
    max-width: 1155px;
    margin: 0 auto;
}


.titulo-cartelera-div{
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 30px!important;
}

.titulo-cartelera{
  font-size: 3rem;
}


/* LOGIN */


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}


.login-header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(255,200,225, 100) 0%, rgba(55,145,134, 100) 100%);
  color:white;
}



.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px;
  min-height:100px;
  max-height:150px;
}




.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

.invalidLogin{
  color: red;
}


/* FORM MOVIE  */

.form-movie-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 0.375rem;
}

.form-movie-section{
  margin: 40px;
}

/* Calendario de form de funciones */



.item-chico{
  height: 33.33px;
  width: 33.33px!important;

  display: flex;
  justify-content: center;
  padding-right: 0px;
  padding-left: 0px;

}

.item-grande{
  height: 100px;
  width: 100px!important;
}

.item-titulo{
  height: 100px;
  width: 102px!important;
}

.rojo{
  background-color: red;
}

.item-largo{
  width: 100px;
  height: 33.33px;
}
.item-largo2{
  width: 102px;
  height: 33.33px;
  display: flex;
  justify-content: center;
  padding-right: 0px;
  padding-left: 0px;
}



/* MATRIZ VENTA DE ENTRADAS */

.cuadricula-boton{
  display: grid;
  height: 30px;
  width: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 20px;
}


.borde-asiento{
  border: 1px solid #000;
  border-radius: 0.375rem;

}



.butaca-seleccionada{
  background-color: #000!important;

}
.buttonDisabled:hover{
  background-color: #000!important;
  border-color: #000!important;
}

.item-larguisimo{
  width: 366.61px;
  height: 33.33px;
  display: flex;
  justify-content: center;
  padding-right: 0px;
  padding-left: 0px;
}



/* VENTA DE ENTRADAS */

.formCompraEntradas{
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 366.61px;

}

/* PANEL ADMIN */
.admin-menu-item{
  margin: 5px 0px;
  align-items: center;
  width: 440px!important;
  height: 38.07px;
  padding: 20px;
  border-radius: 0.375rem;
  margin: 10px;
}

.admin-menu-title{
  margin-bottom: 15px!important;
  align-items: center;
  height: 55.98px!important;
  width: 440px!important;
  padding: 20px;
  border-radius: 0.375rem;
  margin: 10px;
  color: white;
  font-size: 25px;
}

.verde-cine{
  background-color: #009186!important;
  border-color: #009186!important;
}

.rojo-cine{
  background-color: #fe505a!important;
  border-color: #fe505a!important;
}

.titulo-panel{

  margin: 40px;

}

.panel-administracion-section{
  margin-top: 60px;
  margin-bottom: 250px;

}

.no-subrayado{
  text-decoration: none;

}


.panel-administracion-titulo{
  font-family: 'Roboto';font-size: 50px;
}



/* USER EDIT PANEL FORM */

.botones-user-edit{
  display: flex;
  justify-content: space-between;
}

.boton-actualizar-user{
 order: 2;
}


/* TICKETS */
.ticket {
  display: flex;
  font-family: Roboto;
  margin: 28px;
  border: 1px solid #e0e0e0;
  position: relative;
  width: 900px;
}
.ticket:before {
  content: '';
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-top-color: transparent;
  border-left-color: transparent;
  position: absolute;
  transform: rotate(-45deg);
  left: -18px;
  top: 50%;
  margin-top: -16px;
  border-radius: 50%;
}
.ticket:after {
  content: '';
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-top-color: transparent;
  border-left-color: transparent;
  position: absolute;
  transform: rotate(135deg);
  right: -18px;
  top: 50%;
  margin-top: -16px;
  border-radius: 50%;
}
.ticket--start {
  position: relative;
  border-right: 1px dashed #e0e0e0;
}
.ticket--start:before {
  content: '';
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  transform: rotate(-45deg);
  left: -18px;
  top: -2px;
  margin-top: -16px;
  border-radius: 50%;
}
.ticket--start:after {
  content: '';
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  transform: rotate(-45deg);
  left: -18px;
  top: 100%;
  margin-top: -16px;
  border-radius: 50%;
}
.ticket--start > img {
  display: block;
  padding: 24px;
  height: 270px;
}
.ticket--center {
  padding: 24px;
  flex: 1;
}
.ticket--center--row {
  display: flex;
}
.ticket--center--row:not(:last-child) {
  padding-bottom: 48px;
}
.ticket--center--row:first-child span {
  color: #4872b0;
  text-transform: uppercase;
  line-height: 24px;
  font-size: 13px;
  font-weight: 500;
}
.ticket--center--row:first-child strong {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.ticket--center--col {
  display: flex;
  flex: 1;
  width: 50%;
  box-sizing: border-box;
  flex-direction: column;
}
.ticket--center--col:not(:last-child) {
  padding-right: 16px;
}
.ticket--end {
  padding: 24px;
  background-color: #4872b0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.ticket--end:before {
  content: '';
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  transform: rotate(-45deg);
  right: -18px;
  top: -2px;
  margin-top: -16px;
  border-radius: 50%;
}
.ticket--end:after {
  content: '';
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  transform: rotate(-45deg);
  right: -18px;
  top: 100%;
  margin-top: -16px;
  border-radius: 50%;
}
.ticket--end > div:first-child {
  flex: 1;
}
.ticket--end > div:first-child > img {
  width: 128px;
  padding: 4px;
  background-color: #fff;
}
.ticket--end > div:last-child > img {
  display: block;
  margin: 0 auto;
  filter: brightness(0) invert(1);
  opacity: 0.64;
}
.ticket--info--title {
  text-transform: uppercase;
  color: #757575;
  font-size: 13px;
  line-height: 24px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ticket--info--subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #4872b0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ticket--info--content {
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.lista-tickets{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 25%
}


/* FORM FUNCION */

.boton-enviar-funcion-form{
  display: flex; 
  justify-content: flex-start;  
  align-items: end;
}


