{% extends "base.html" %}


{% block content %} 



<section class="form-movie-section">
    <div class="container form-movie-container">
        <form class="row g-3" action="/movies/" method="post">{% csrf_token %}
            <div class="col-md-6">
                <label for="inputTitulo" class="form-label" >Titulo</label>
                <input type="text" class="form-control" id="inputEmail4" name="titulo" placeholder="Ejemplo: Harry Potter">
            </div>
            <div class="col-md-6">
                <label for="inputDuracion" class="form-label">Duracion en minutos</label>
                <input type="number" class="form-control" id="inputDuracion" name="duracion" placeholder="Ejemplo: 120" >
            </div>
            <!-- <div class="col-12">
                <label for="inputCalificacion" class="form-label" >Calificacion</label>
                <input type="text" class="form-control" id="inputAddress" name="calificacion">
            </div> -->
            <div class="col-12">
                <label for="inputImagen" class="form-label" >Imagen de portada</label>
                <input type="text" class="form-control" id="inputAddress2" name="imagenLink"
                    placeholder="http://imagenes.com.imagen1.jpg/">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">Idioma</label>
                <select id="inputState" class="form-select" name="idioma">
                    <option value="0">Español</option>
                    <option value="1">Subtitulada</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">Clasificación</label>
                <select id="inputState" class="form-select" name="calificacion">
                    <option value="ATP">ATP</option>
                    <option value="ATPR">ATPR</option>
                    <option value="P-13">P-13</option>
                    <option value="P-13R">P-13R</option>
                    <option value="P-16">P-16</option>
                    <option value="P16R">P16R</option>
                    <option value="P-18">P-18</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputState" class="form-label">Genero</label>
                <select id="inputState" class="form-select" name="genero">

                    {% for k,v in info.items %}

                    
                    <option value="{{ k }}">{{ v }}</option>

                    {% endfor %}
					


                </select>
            </div>
            <div class="col-md-6">
                <label for="exampleFormControlInput1" class="form-label">Fecha</label>
                <input type="date" class="form-control" id="exampleFormControlInput1" name="date" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Reseña</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="resenia"></textarea>
              </div>
              
            <!-- <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                </div>
            </div> -->
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}
